<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9jROMWvv-1smqXXvAocgsQo4OHtqZNSc</string>
	<key>GCM_SENDER_ID</key>
	<string>1000971890462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maduradias.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todolist-2a470</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-2a470.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000971890462:ios:387cf13a2f53af0c67230f</string>
</dict>
</plist>